<!DOCTYPE html>
<html lang="en">
<%-include ('./partials/head') %>
<body>
  <%-include ('./partials/user/user-navbar') %>
  <%-include('./partials/home-extra') %>


  <div class="container">
    <h2 class="mt-3">ALL PRODUCTS</h2>
    <br>
    
    <div class="row">
        <% category.forEach(items=>{ %> 
            
       <div></div>
       

       
        <% let count =1 %>
      <% if(products.length >0){ %>
           <% products.forEach(item=>{  %>
         <% if( items.categoryname ==  item.categoryId?.categoryname ){ %> 
            <% count++ %>
            

     <div class="col-md-3">
       <a href="/product/details/<%=item._id %>">
       <div class="dress-card">
       <div class="dress-card-head">
          <img class="dress-card-img-top" src="/<%= item.images[0] %>"alt="">
                <div class=" surprise-bubble"><span class="dress-card-heart">
            <i class="fas fa-heart"></i>
          </span><a href="#"> <span>More</span></a>
        </div>
      </div>
      <div class="dress-card-body">
        <h4 class="dress-card-title mt-1"><%= item.productname %></h4>
        <p class="dress-card-para"></p>
        <% if (item.offer>0){ %>
          
          <p class="dress-card-para mt-1"><span class="fw-bold fs-4">  <Del class="text-danger"> ₹ <%= item.price%></Del></span><span class="dress-card-price fs-4"> ₹ <%= Math.round (item.price-(item.price *(item.offer/100))) %>&ensp;</span><span
            class="dress-card-crossed mt-1"></span><span class="dress-card-off text-primary">&ensp;(<%= item.offer %>% OFF)</span></p>
       <% } else{ %>
          <p class="dress-card-para mt-1"><span class="dress-card-price fs-5"> ₹ <%=item.price %>&ensp;</span><span
            class="dress-card-crossed mt-1"></span></p>
        <% }%>
        
         <p class="fs-6 fw-bold mt-1 text-primary">Best Selling.  Certified seller.</p>
      </div>
    </div>
   </a>
  </div>
   
 
 <% }%>
 <%   }) %>
   <%  }  %>
   <%  }) %>
 </div>
  </div>

 

        

      <nav class="bottom-land navbar   ">
            <div class="container">
              <div class="row">
                <div class=" col-md-12 logo d-flex align-items-center my-2">
                        <h6 class="brand text-dark">PitBULL</h6>
                     </div>
                <div class="col-md-3 ">
                  <h6 class="border-bottom border-2 border-dark">COMPANY</h6>
                  <a class=" ab my-2 " href="#">About Us</a><br>
                  <a class=" ab my-2" href="#">Contact Us</a><br>
                  <a class=" ab my-2" href="#">Product Warranty</a><br>
                </div>
                <div class="col-md-3">
                  <h6 class="border-bottom border-2 border-dark">CONNECT WITH US</h6>
                  <a  class="ab my-1" href="#">Instagram</a><br>
                  <a class="ab my-2"href="https://www.facebook.com/">Facebook</a><br>
                  <a class="ab my-2" href="#">Twitter</a><br>
                </div>
                <div class="col-md-3">
                  <h6 class="border-bottom border-2 border-dark">EMAIL US</h6><br>
                  <a class="ab my-2" href="#">pitbull@gmail.com</a>
                </div>
                <div class="col-md-3">
                    <h6 class="border-bottom border-2 border-dark">POLICY</h6>
                    <a  class="ab my-1" href="#">Terms</a><br>
                    <a class="ab my-2"href="#">Return policies</a><br>
                  </div>
                 
              </div>
            </div>
        <div class="container-fluid">
          <a class="navbar-brand fw-bold my-2 mx-3" href="#">Copyright<iconify-icon class="fs-5" icon="mingcute:copyright-fill"></iconify-icon>2002</a>
        </div>
      </nav>
    
    
</body>
</html>